<h1>Listing Trips</h1>
 
<table>
  <tr>
    <th>Place</th>
    <th>User </th> 
    <th>Selected Points of Interest</th>
    <th>Selected Restaurants </th>
  </tr>
  <% @trips = current_user.trips %>
  <% @trips.each do |trip| %>
    <tr>
      <td><%= trip.place	 %></td>
      <td><%= trip.user.email %></td>
      
      <td> 
      	<% trip.pois.each do |poi| %>
      		<% if poi.selected %>
      			<%= poi.name %>
      		<% end %>
      	<% end %>
      	
      </td>	
      
      <td> 
      	<% trip.restaurants.each do |restaurant| %>
      		<% if restaurant.selected %>
      			<%= restaurant.name %>
      		<% end %>
      	<% end %>
      	
      </td>	
      
      
      
      <td><%= link_to 'Show', trip_path(trip) %></td>
      <% if trip.user == current_user %>
	        <td><%= link_to 'Edit', edit_trip_path(trip) %></td>
	        <td><%= link_to 'Destroy', trip_path(trip), method: :delete, data: { confirm: 'Are you sure?' } %></td>
	        <td><%= link_to 'Map', map_trip_path(trip) %> </td>
	  <% end %>
    </tr>
  <% end %>
</table>

<%= link_to 'Home', root_path %>

<%= link_to 'New Trip', new_trip_path %>

<% google_key = get_google_key %>
<%= string = "https://www.google.com/maps/embed/v1/place?key=" + google_key + "&q=Space+Needle,Seattle+WA&q=Pike+Market,Seattle+WA" %> 
<iframe
  width="600"
  height="450"
  frameborder="0" style="border:0"
  src = "<%= string %>" allowfullscreen >
</iframe>