<h1>Listing Trips</h1>
 
<table>
  <tr>
    <th>Place</th>
    <th>User </th> 
  </tr>
 
  <% @trips.each do |trip| %>
    <tr>
      <td><%= trip.place	 %></td>
      <td><%= trip.user.email %></td>
      <td><%= link_to 'Show', trip_path(trip) %></td>
      
      <% if trip.user == current_user %>
	        <td><%= link_to 'Edit', edit_trip_path(trip) %></td>
	        <td><%= link_to 'Destroy', trip_path(trip), method: :delete, data: { confirm: 'Are you sure?' } %></td>
	  <% end %>
    
     
    </tr>
  <% end %>
</table>

<%= link_to 'Home', root_path %>

<%= link_to 'New Trip', new_trip_path %>