
    <%= @trip.place %>
    
 	

<%= form_for([@trip, @trip.pois.build]) do |f| %>
  <p>
    <%= f.label "Point of Interest" %><br>
    <%= f.text_field :poi %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>